/*== TABLE OF CONTENTS | CONTACT.CSS  =====
1.  Grid-container
2.  Main
3.  Form
4.  Hover Effects
5.  Media Queries
=========================================*/

/*-------------------------------------
  1. Grid-container
--------------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    " header "
    " main "
    " footer ";
  min-height: 100vh;
}
/*-------------------------------------
  2. Main
--------------------------------------*/
main {
  display: flex;
  grid-area: main;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*-------------------------------------
  3. Form
--------------------------------------*/

.text-holder {
  height: auto;
  margin-top: 3rem;
}

.form-container {
  margin-top: 5rem;
}

label {
  font-size: 1.5rem;
}

input[type="text"],
textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #ffffff78;
}

#message {
  height: 200px;
}

/*-------------------------------------
  4. Hover Effects
--------------------------------------*/

.submit:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

.submit {
  padding: 18px;
  font-family: "Open Sans";
  font-size: 18px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/*-------------------------------------
  5. Media Queries
--------------------------------------*/

@media (max-width: 768px) {
  main {
    margin: 0 2rem 0 2rem;
  }
}
