/*==== TABLE OF CONTENTS | HIDDENPAGE.CSS =====
1.  Grid-container
2.  Main
3.  Color-Box 
4.  
5.  
=========================================*/

/*-------------------------------------
  1. Grid-container
--------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    " header "
    " main "
    " footer ";
  min-height: 100vh;
}
/*-------------------------------------
      2. Main
    --------------------------------------*/
main {
  display: flex;
  grid-area: main;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*-------------------------------------
      3. Color-Box
    --------------------------------------*/
.color-box {
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 2px solid #000;
  background-color: white;
}

.hidden {
  display: none;
}

.visible {
  color: red;
  margin: 10px;
  background: linear-gradient(90deg, #00ffbb 0%, #086a88 50%, #fffb00 100%);
  font-size: 50px;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
}

.visible2 {
  color: red;
  margin: 10px;
  background: linear-gradient(90deg, #2c11c4 0%, #ff7300 50%, #fffb00 100%);
  font-size: 50px;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
}
