/*======= TABLE OF CONTENTS | INDEX ========
1.  Main
2.  Grid Layout
3.  Top Section
4.  Low Section // Cards
5.  Media Queries
=========================================*/

/*-------------------------------------
  1.Main
--------------------------------------*/

main {
  display: flex;
  grid-area: main;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*-------------------------------------
  2.Grid Layout
--------------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    " header "
    " main "
    " footer ";
  min-height: 100vh;
}

/*-------------------------------------
  3.Top Section
--------------------------------------*/

.top-section {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
}

.welcome-txt {
  margin-bottom: 1rem;
}

.section-heading {
  font-family: "Great Vibes", cursive;
  display: flex;
  padding-top: 1rem;
  margin-left: -2rem;
  grid-area: 1/2;
}

.fa-arrow-down {
  font-size: 2rem;
  transform: rotate(40deg);
}

.about-me {
  max-width: 407px;
  font-size: 16px;
}

.right-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
}

.left-box {
  display: flex;
  justify-content: flex-end;
}

.img-frame {
  background-image: url(../img/tom.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.308);
}

/*-------------------------------------
  4.Low Section // Cards
--------------------------------------*/

.low-section {
  width: 50%;
}
.low-section-heading {
  text-align: center;
  padding-top: 1rem;
}

.wrapper {
  display: inline-grid;
  position: relative;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  background: #fff;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border: 5px solid #fff;
  height: 500px;
  min-width: 300px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  justify-content: flex-start;
  padding: 15px;
  scroll-snap-type: x mandatory;
}

.card:hover {
  transform: scale(1.05);
}

.card-top {
  border-radius: 100% 0% 100% 0% / 0% 50% 50% 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-top .fa-brands {
  font-size: 80px;
  color: #fff;
  margin: 3px;
}
.card-low {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-headline {
  font-size: 24px;
}

.card-title {
  font-family: "open sans";
  font-size: 20px;
}

.card-text {
  padding: 10px;
  font-size: 14px;
  white-space: normal;
  word-wrap: break-word;
}

.card-links .fa {
  padding-left: 5px;
}

.card-links a {
  color: #000;
  font-size: 19px;
  text-decoration: none;
}

#prev,
#next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  border-radius: 50%;
  z-index: 10;
}

#prev {
  left: -30px;
}
#next {
  right: -30px;
}

#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*-------------------------------------
	5.Media Queries
--------------------------------------*/

@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
  main {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .section-heading {
    display: none;
  }
  .img-frame {
    display: none;
  }

  .top-section {
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .left-box {
    justify-content: center;
  }

  .right-box {
    justify-content: center;
    padding: 0.2rem;
    text-align: center;
    display: flex;
    line-height: normal;
  }

  .about-me {
    text-align: left;
    max-width: 264px;
  }

  .img-frame {
    max-width: 100px;
    max-height: 100px;
  }

  #next,
  #prev {
    display: none;
  }

  .card {
    max-height: max-content;
  }
  .card-text {
    font-size: 10px;
    padding: 5px;
  }
  .card-links a {
    font-size: 15px;
  }
  .card-top {
    height: 40%;
  }

  .low-section {
    width: 80%;
  }

  .card-top .fa-brands {
    font-size: 40px;
  }
}

@media (orientation: landscape) and (max-width: 868px) {
  .img-frame {
    height: 100px;
    width: 100px;
  }

  .left-box {
    justify-content: center;
  }
  .top-section {
    flex-direction: column;
    gap: 10%;
    width: 100%;
  }

  .right-box {
    align-items: center;
    padding: 0;
    line-height: normal;
  }
  .right-box p {
    padding: 4px;
    font-size: 12px;
  }

  .card {
    height: 300px;
  }

  .wrapper {
    padding: 0;
    position: static;
  }
  .low-section {
    width: auto;
  }
  .low-section-heading {
    padding: 0;
  }

  #next,
  #prev {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: auto auto;
  }

  .card-headline {
    font-size: 18px;
  }

  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }
  .section-heading {
    display: none;
  }
  .img-frame {
    display: none;
  }
}
