/*==== TABLE OF CONTENTS | PROJECTS =====
1.  Grid-container
2.  Main
3.  Color-Box 
4.  
5.  
=========================================*/

/*-------------------------------------
  1. Grid-container
--------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    " header "
    " main "
    " footer ";
  min-height: 100vh;
}
/*-------------------------------------
    2. Main
  --------------------------------------*/
main {
  display: flex;
  grid-area: main;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main {
  grid-area: main;
}
/*-------------------------------------
    3. Color-Box
  --------------------------------------*/
.color-box {
  border: 2px solid #000;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

input#color-input {
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
  width: 100px;
  height: 50px;
}

input#color-submit {
  margin: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000;
  cursor: pointer;
}

/* .color-change {
  background-color: #ffb20c00;
}
 */
